* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    font-size: 20px;
}
body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 35px rgba(0,0,0,0.1)
}
.container .left {
    position: relative;
    background-color: #003147;
    padding: 40px;
}
.profile-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255,255, 0.2);
}
.profile-text .img {
    position: relative;
    width:200px;
    height:200px;
    border-radius:50%;
    overflow: hidden;
}
.profile-text .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:fill;
}
.profile-text h1 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    line-height: 1.5em;
}
.profile-text h1 span {
    font-size: 0.6em;
    font-weight: 300;
}
.contact-info {
    padding: 20px;
}
.title {
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
}
.contact-info ul {
    position: relative;
}
.contact-info ul li {
    list-style: none;
    position: relative;
    margin: 10px 0;
    cursor: pointer;
    min-width: 200px;
}
.contact-info ul li .icon {
    display: inline-block;
    width: 20px;
    font-size: 0.9em;
    color: #03a9f4;
}
.contact-info ul li span {
    color: #fff;
    font-size: 0.9em;
}
.contact-info.education li {
    margin-bottom: 15px;
}
.contact-info.education h3 {
    color: #03a9f4;
    font-size: 0.9em;
}
.contact-info.education h4 {
    color: #fff;
    font-weight: 600;
}
li p{
    color:white;
    font-size: 0.8em;
}
.contact-info.language .percent {
    position: relative;
    width: 100%;
    height:6px;
    background-color: #081921;
    display: block;
    margin-top: 5px;
}
.contact-info.language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    background-color: #03a9f4;
}
.contact-info.language li {
    color: #fff;
    margin-top: 5px;
    font-weight: 500;
}
.english {
    width: 90%;
}
.urdu {
    width:100%;
}
.punjabi {
    width: 100%;
}
.dutch {
    width: 30%;
}
.container .right {
    position: relative;
    background-color: #fff;   
    padding: 40px;
}
.about {
    margin-bottom: 50px;
}
.about:last-child {
    margin-bottom: 0;   
}
.title2 {
    color:#003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 800;
}
p {
   color: #333; 
   text-align: justify;
   padding-top: 5px;
}
.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year_company {
    min-width: 200px;
}
.about .box .year_company h3 {
    text-transform: uppercase;
    color:#848c98;
    font-weight: 600;
}
.about .box .text h3 {
    text-transform: uppercase;
    color: #2a7da2;
}
.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content:center; 
    align-items: center;
}
.skills .box h3 {
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}
.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
}
.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color:#03a9f4;
}
.html {
    width: 80%;
}
.css {
    width: 50%;
}
.java {
    width: 25%;
}
.interest {
    margin-top: 60px;
}
.interest ul {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 20px;
}
.interest ul li {
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px, 0;
}
.interest ul li .fa {
    color: #03a9f4;
    font-size:20px;
    padding: 5px;
}